@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.format-heading {
    font-family: 'Anton', sans-serif; /* Specify your preferred font */
    font-size: 2.5rem; /* Adjust size as needed */
    font-weight: bold; /* Adjust weight as needed */
  }

.top-div {
  min-height: 100vh;
}

.background-cover {
  background-image: url('/cakeBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}